$primaryFontFamily: 'Roboto', sans-serif;
$primaryDarkA: #151D2D;
$primaryDarkB: #222939;
$primaryDarkC: #39445c;
$primaryDarkD: #26324d;
$primaryLightA: #fff;
$primaryLightB: #9399a6;
$primaryLightC: #F4F4F6;
$highlightA: #f7d00e;
$primaryTextColorDark: #151D2D;
$borderRadiusA: 2px;
$borderRadiusB: 4px;
$borderRadiusC: 8px;
$fontWeightBold: 700;