.upper-area-slogan {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(50%, #26324d));
  background-image: linear-gradient(to bottom, #000 0%, #26324d 50%);
  height: 518px;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: calc((262px + 48px) * -1);
}

.upper-area-slogan .inner {
  max-width: 668px;
  margin: 0 auto;
}

.upper-area-slogan h2 {
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

.upper-area-slogan .list-item-labels {
  font-size: 12px;
  line-height: 16px;
  color: #f4f4f6;
}

.upper-area-slogan .list-item-labels li {
  min-width: 96px;
}

@media only screen and (max-width: 767px) {
  .upper-area-slogan {
    height: 316px;
    margin-bottom: calc((146px + 48px) * -1);
  }
  .upper-area-slogan h2 {
    font-size: 20px;
    line-height: 25px;
  }
  .upper-area-slogan .list-item-labels {
    font-size: 8px;
    line-height: 24px;
  }
  .upper-area-slogan .list-item-labels li {
    min-width: 71px;
  }
}
