.footer {
  color: #9399a6;
}

.footer > .row-1 {
  background-color: #222939;
  padding: 16px 0 24px;
}

.footer > .row-2 {
  background-color: #39445c;
  height: 48px;
  line-height: 48px;
}

.footer .available-payments {
  font-size: 10px;
}

.footer .available-payments img {
  height: 16px;
  max-width: 9999px;
}

.footer .providers img {
  height: 40px;
}

.footer .other-providers img {
  height: 24px;
  max-width: 9999px;
}

.footer .menu-footer {
  font-size: 12px;
}

.footer .menu-footer li:not(:last-child):after {
  content: "|";
  display: inline;
  margin: 0 3px;
}

.footer .menu-footer a {
  font-weight: 700;
}

.footer .copyright {
  font-size: 12px;
}

@media only screen and (max-width: 1400px) {
  .footer .other-providers img {
    height: 16px;
  }
  .footer .menu-footer {
    font-size: 10px;
  }
  .footer .menu-footer li:not(:last-child):after {
    margin: 0 2px;
  }
  .footer .copyright {
    font-size: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .footer > .row-2 {
    height: unset;
    line-height: unset;
    padding: 16px 0;
  }
  .footer .providers img {
    height: 24px;
  }
}
