.card-news:hover .bg-cover-holder .bg-cover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-news .bg-cover-holder {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.card-news .bg-cover-holder .bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.card-news .catdate {
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}

.card-news .catdate.box-loading {
  height: 16px;
  width: 40%;
}

.card-news .catdate .category {
  text-transform: capitalize;
}

.card-news .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  line-height: 26px;
}

.card-news .title.box-loading {
  height: 26px;
}

.card-news .content {
  font-size: 16px;
  line-height: 22px;
}

.card-news .content.box-loading {
  height: 44px;
}

.card-news .content .content-inline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-news.card-type-a {
  max-width: 330px;
  width: 100%;
}

.card-news.card-type-a .bg-cover-holder {
  aspect-ratio: calc(330 / 198);
}

.card-news.card-type-a .content .content-inline {
  -webkit-line-clamp: 2;
}

.card-news.card-type-b .bg-cover-holder {
  width: 318px;
  height: 191px;
}

.card-news.card-type-b .content .content-inline {
  -webkit-line-clamp: 3;
}

.card-news.card-type-c .bg-cover-holder {
  aspect-ratio: calc(676/400);
}

.card-news.card-type-c .info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 29, 45, 0)), color-stop(38%, rgba(21, 29, 45, 0.9)), to(rgba(21, 29, 45, 0.9)));
  background: linear-gradient(to bottom, rgba(21, 29, 45, 0) 0%, rgba(21, 29, 45, 0.9) 38%, rgba(21, 29, 45, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00151d2d', endColorstr='#e6151d2d', GradientType=0);
}

.card-news.card-type-c.size-small .info .title {
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (max-width: 1400px) {
  .card-news.card-type-b .bg-cover-holder {
    width: 236px;
    height: 236px;
  }
  .card-news.card-type-b .content .content-inline {
    -webkit-line-clamp: 5;
  }
  .card-news.card-type-c.size-small .info .catdate {
    font-size: 10px;
    line-height: 14px;
  }
  .card-news.card-type-c.size-small .info .title {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .card-news .title {
    font-size: 16px;
    line-height: 22px;
  }
  .card-news .content {
    font-size: 14px;
    line-height: 18px;
  }
  .card-news.card-type-b .bg-cover-holder {
    width: 191px;
    height: 191px;
  }
  .card-news.card-type-c .info {
    padding: 8px;
  }
  .card-news.card-type-c.size-small .info .catdate {
    font-size: 8px;
    line-height: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .card-news.card-type-a {
    max-width: unset;
    width: unset;
  }
  .card-news.card-type-a .bg-cover-holder {
    width: 96px;
    height: 104px;
  }
  .card-news.card-type-b .bg-cover-holder {
    width: 96px;
    height: 104px;
  }
}
